<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>company</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">Company id</th>
        <th scope="col">Company Name</th>
        <th scope="col">Address Company</th>
        <th scope="col">Courses</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="company : ${companies}">
        <td th:text="${company.getId()}"></td>
        <td th:text="${company.getCompanyName()}"></td>
        <td th:text="${company.getAddressCompany()}"></td>
        <td><a th:href="@{course/{id}(id=${company.getId()})}">
            <button>Course</button>
        </a></td>
        <td>
            <a href="#" th:href="@{/api/companies/update/{id}(id=${company.id})}">
                <button type="button" class="btn btn-primary">update</button>
            </a>
        </td>
        <td>
            <form th:action="@{/api/companies/delete/{id}(id=${company.id})}" th:method="delete">
                <input type="hidden" value="delete"/>
                <button type="submit" class="btn btn-primary">delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/api/companies/save}">
        <button>
            Add Company
        </button>
    </a>
</div>
</body>
</html>