
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<div>
    <form class="update" th:method="PATCH"
          th:action="@{/api/companies/update/{id}(id=${company.id})}" th:object="${company}">
        <label for="companyName">Change name: </label>
        <input type="text" th:field="*{name}" id="companyName"/>
        <br/>
        <label for="addressCompany">Change address: </label>
        <input type="text" th:field="*{address}" id="addressCompany"/>
        <br/>
        <input type="submit" value="Update!"/>
    </form>
</div>
<div>
    <a th:href="@{/api/companies}">
        <button>go back</button>
    </a>
</div>

</body>
</html>