<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update company</title>
</head>
<body>
<h1 style="width: 50px;height: 50px">
    <form style="margin-top: 50px;margin-left: 300px" th:method="PATCH"
          th:action="@{/api/companies}" th:object="${getCompany}">
        <label for="name"><h1 style="width: 300px">Company name:</h1></label>
        <br>
        <input type="text" th:field="*{companyName}" id="name"/>
        <br>
        <br>
        <label for="locatedCountry"><h2 style="width: 150px">Located country:</h2></label>
        <input type="text" th:field="*{locatedName}" id="locatedCountry"/>
        <br>
        <br>
        <input style="color: beige;background-color: blue" type="submit" value="Update!!"/>
    </form>
</h1>
</body>
</html>