<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save new Course</title>
</head>
<body>
<form style="margin-top: 100px;margin-left: 300px"
     method="post" th:action="@{'/api/courses/save/'+${companyId}}" th:object="${emtyCourse}">

    <label for="courseName">Course Name</label>
    <input id="courseName" th:field="${emtyCourse.name}" placeholder="course_name">
    <br><br>

    <label for="duration">Duration</label>
    <input id="duration" th:field="${emtyCourse.duration}" placeholder="duration">

    <br><br>

    <button type="submit">Save new course</button>
</form>

<div>
    <a th:href="@{'/api/courses/findAll/' + ${companyId}}">
        <button>go back</button>
    </a>
</div>
</body>
</html>