<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form-->
<!--        action="#"-->
<!--        th:action="@{'/api/groups/saveGroup/' + ${courseId}}"-->
<!--        th:object="${entityGroup}"-->
<!--        method="post">-->

<!--  <input type="hidden" name="id" th:field="*{id}">-->
<!--  <label><input type="text" name="groupName" th:field="*{name}" placeholder="Group Name"></label>-->
<!--  <br><br>-->
<!--  <label><input type="text" name="dateOfStart" th:field="*{dateOfStart}" placeholder="yyyy-mm-dd"></label>-->
<!--  <br><br>-->
<!--  <label><input type="text" name="dateOfFinish" th:field="*{dateOfFinish}" placeholder="yyyy-mm-dd"></label>-->
<!--  <br><br>-->
<!--  <th:block th:each="course : ${courseList}">-->
<!--    <input type="checkbox" name="course" th:value="${course.id}"/>-->
<!--    <label th:text="${course.name}"></label>-->
<!--  </th:block>-->
<!--  <br><br>-->
<!--  <input type="submit" value="Add">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->